* {
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: #f7f7f9;
  padding: 30px;
}
.form-of-reimbursement {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(227, 236, 233);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .form-of-reimbursement {
    width: 100%;
  }
  .main-container {
      padding: 0;
  }
}
